.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common styles */
body {
  font-family: inter;
  background-color: #1A0B2E;
}

.large_container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-gradient {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
  background-clip: text;
  color: transparent;
}

.btn-gradient {
  background: #F7E93F;
  background: linear-gradient(47deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
}

/* Navbar design */

.navbar-container {
  background-color: #1a1a2e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo h1 {
  font-size: 44px;
  font-weight: bold;
}


.navlinks {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navlinks a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: 500;
}

.navlinks a:hover {
  color: #e94560;
}

.subs-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.subs-btn a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.subs-btn img {
  width: 20px;
  height: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  width: 24px;
  height: 24px;
}


/* hero section */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero-bg {
  background-image: url('./assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  padding: 40px 0;
}

.circle-group {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url('./assets/hero-circle.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #00FF88;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 18px;
  color: #1A0B2E;
  font-weight: 500;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.hero-info {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.hero-text h1 {
  font-size: 60px;
  margin-bottom: 8px;
  font-weight: 600;
}

.hero-text p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #FFFFFF;
}


.hero-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.hero-btn button {
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-btn button a {
  text-decoration: none;
  font-size: 16px;
}

.hero-btn button img {
  width: auto;
  height: 20px;
}

.btn-2 {
  border: 2px solid #00FF88;
}


.btn-2 a {
  color: #00FF88;
}

.btn-2 a {
  color: #00FF88;
}

.btn-1 a {
  color: white;
}


/* about section */
.about-bg {
  background-color: #1A0B2E;
  color: #ffffff;
  padding: 80px 0;
  text-align: center;
}

.about-info h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-info p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 827px;
  margin: 0 auto 40px;
  color: #cccccc;
}

.about-info span {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  color: #cccccc;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 60px;
  margin-top: 40px;
}

.stat-info {
  flex: 1;
}

.stat-info h3 {
  font-size: 48px;
  font-weight: 700;
  color: #00ff88;
  margin-bottom: 10px;
}

.stat-info p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
}

/* Featured section */
.section-bg{
  background-color: #230E3D;
  padding-top: 120px;
}

.feature-title{
  font-size: 3rem;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  padding-bottom: 40px;
}

.featured-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0px 40px;
  padding-bottom: 120px;
}

.card {
  background-color: #25134a;
  padding: 30px;
  border-radius: 20px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.05);
}


.icon img {
  width: 40px;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.card p {
  color: #b3a5d1;
  line-height: 1.6;
}


/* Grid item spans */
.premium {
	grid-row: span 2 / span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.exclusive {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
}

.mobile {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

.global {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.resources {
  grid-column-start: 3;
  grid-row-start: 3;
}

/* Episode Card section */

.episode-bg{
  background-color: #1A0B2E;
}

.episode-title{
	font-size: 3rem;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	padding-bottom: 40px;
  padding-top: 120px;
}

.episode-card-container{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr; 
    gap: 0px 30px; 
    grid-template-areas: 
      "card-1 card-2 card-3";
}

.episode-card{
  color: #FFFFFF;
  border-radius: 24px;
  background-color: #250D44;
}

.episode-info{
  padding: 24px 24px 0px 24px;
}


.episode-info h3{
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 700;
}

.episode-info p {
	line-height: 1.5rem;
	font-size: 16px;
	color: #d7d7d7;
	margin-bottom: 12px;
}

.episode-time{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 24px;
}

.episode-video iframe {
  border-radius: 25px 26px 0px 0px;
-webkit-border-radius: 25px 26px 0px 0px;
-moz-border-radius: 25px 26px 0px 0px;
}

/* host section */

.host-bg{
  background-color: #1A0B2E;
}

.host-container{
  padding-top: 120px;
  color: #FFFFFF;
}

.host-title{
  font-size: 3rem;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	padding-bottom: 40px;
}

.host-info{
  display: flex;
  gap: 40px;
  padding-bottom: 120px;
  align-items: center;
  
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
 
  padding: 40px;
}

.host-image{
  width: 441px;
  height: auto;
}

.host-text h3{
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 700;
}

.host-text p{
  font-size: 16px;
  line-height: 1.5;
  color: #d7d7d7;
}

.host-social{
  display: flex;
  gap: 8px;
  padding: 16px 0px;
 
}

.host-social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 2px solid #4a3b6b;
	border-radius: 50%;
	text-decoration: none;
}

.host-social img {
  width: 20px;  /* Adjust based on your icon file size */
  height: auto;
  display: block;
}

