.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common styles */
body {
  font-family: inter;
  background-color: #1A0B2E;
}

.large_container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-gradient {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
  background-clip: text;
  color: transparent;
}

.btn-gradient {
  background: #F7E93F;
  background: linear-gradient(47deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
}
